*, *:after, *:before {
  box-sizing: border-box;
}

.container {
  padding: 0 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 10px;
  padding-left: 10px
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

[class*='col-']:first-of-type {
  padding-left: 0;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-5-12 {
  width: 41.66%;
}

.col-7-12 {
  width: 58.33%;
}

@media (max-width: 767px) {
  [class*='col-'] {
    width: 100%;
    padding: 0;
  }

  [class*='col-']:not(:first-of-type) {
    margin-top: 25px;
  }
}
